svg path {
  fill: inherit;
  transition: all .5s linear;
}

#australia.grey .st0 {
  fill: #555;
}
#oceania.grey .st1 {
  fill: #555;
}
#usa.grey .st2 {
  fill: #555;
}
#europ.grey .st3 {
  fill: #555;
}
#lamerica.grey .st4 {
  fill: #555;
}
#africa.grey .st5 {
  fill: #555;
}
#sng.grey .st6 {
  fill: #555;
}
#asia.grey .st7 {
  fill: #555;
}
