mixin section-info

  section.section-info
    .container.section-info__row
        .block.block--l
          h2.block__title What is Lorem Ipsum?
          p.block__text
            |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type <span>specimen book</span>.
        .block.block--m
          h2.block__title Lorem Ipsum is not simply random text
          p.block__text
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
        .block.block--s
          .block__img
            img(src="./images/img.jpg" alt="image")
          p.block__text
            |Lorem Ipsum is simply dummy printer took a galley of type and
        .block.block--xl
          h2.block__title What is Lorem Ipsum?
          p.block__text
            |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          .block__btns
            .btn.btn--fill more info
            .btn more info

